<div class='screen'>
    <div class='formular login'>

        <div class='formularswap'>
            <div class='loginswap'>
                login
            </div>
            <div class='registerswap'>
                register
            </div>
        </div>

        <div class='form loginformular'>
            <div class='Lemail'>
                <a>email</a>
                <input type='text'>
            </div>

            <div class='Lpassword'>
                <a>password</a>
                <input type='text'>
            </div>

            <div class='loginbutton button'>
                Login
            </div>
        </div>

        <div class='form registerformular'>
            <div class='Rname'>
                <a>name</a>
                <input type='text'>
            </div>

            <div class='Rsurname'>
                <a>surname</a>
                <input type='text'>
            </div>

            <div class='Remail'>
                <a>email</a>
                <input type='text'>
            </div>


            <div class='Rpassword'>
                <a>password</a>
                <input type='password'>
            </div>

            <div class='RpasswordR'>
                <a>passwordR</a>
                <input type='password'>
            </div>

            <div class='registerbutton button'>
                Register
            </div>
        </div>
    </div>
</div>