/*
option 2:
    black: #19181a
    green: #479761
    yellow: #cebc81
    pink: #a16e83
    lightpink: #b19f9e

option 1:
    black: #1a1a1d
    gray: #4e4e50
    darkred; #6f2232
    brightpurple: #950740
    brightpink: #c3073f
*/

* {
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    width: 100%
}

body {
    background-color: lightgray;
    position: relative;
    top: 50px
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: gray;
}

.clickable:active {
    background-color: black;
}

.cursorPointer {
    cursor: pointer;
}

input:focus {
    border: 1px solid #555;
}

.hidden {
    visibility: hidden;
}