<!-- views/pages/mainpage.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel='stylesheet' type='text/css' href='css/admin.css'>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <br>
    <main>
        <% include ../mains/main %>
    </main>
    <br>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <script src="scripts/jquery-3.2.1.min.js"></script>
</body>

</html>